@import "tailwindcss";

@theme {
  --color-ftBackground: #ffffff;
  --color-grayBackground: #fafafa;
  --color-gray2Background: #f8f8f8;
  --color-gray3Background: #ebe8e8;
  --color-gray4Background: #f5f5f5;
  --color-darkGray1Background: #363a3f;
  --color-darkGray2Background: #4e5257;
  --color-primaryColor: #c8ee44;
  --color-secondaryColor: #29a073;
  --color-text1Color: #1b212d;
  --color-text2Color: #929eae;
  --color-text3Color: #78778b;
  --color-text4Color: #626260;
  --default-font-family: "Kumbh Sans", sans-serif;
}

:root {
  @apply bg-ftBackground text-text1Color;
}

@keyframes shimmer {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@theme inline {
  --color-background: var(--ftBackground);
  --color-foreground: var(--text1Color);
  --font-sans: var(--font-kumbh-sans);
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
